@tailwind base;
@tailwind components;
@tailwind utilities;

/* PRINT FIX */
@media print {
  body * {
    display: none;
  }

  .print-only {
    display: block;
    width: 100%;
  }

  .print-only img {
    width: 100%;
    height: auto;
    page-break-inside: avoid;
  }
}

/* REMOVE EXTRA PAGE SPACE */
@page {
  margin: 0;
}